.navbar-nav.ms-auto.hypertext a {
    color: #fff ;
}
.navbar-brand{
    color: #fff !important
}
.dropdown-menu{
    border:0;
    background: white;
}
.dropdown-menu li a{
    color: black !important;
} 
#navbarDropdown:after{
    display: none;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: transparent;
}

@media (min-width:992px){
    #responsiveDropdown {
            margin-left: -130px;
        }   
    }

@media (min-width:1200px){
    #responsiveDropdown {
            margin-left: -130px;
        }   
    }